name: .NET CI & Auto-Merge

on:
  push:
    branches: [ "feature/*", "refactor/backend", "test/*"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Merge to Develop
      if: success() 
      run: |
        git config --global user.name 'GitHub Actions Bot'
        git config --global user.email 'bot@noreply.github.com'
        
        # Переключаемся на develop
        git checkout develop
        
        # Сливаем текущую ветку (feature/...) в develop
        git merge ${{ github.ref }}
        
        # Отправляем изменения обратно в репозиторий
        git push origin develop